.LegSnippet {
}
.LegFootnote {
}


.LegSnippet p{
	display: block;   
	clear: both;
}

.LegSnippet .BlockList {
  padding-bottom: 10px;
}

.LegSnippet .LHS {
    float: left;
    text-align: right;
}
.LegSnippet .RHS {
    float: right;
    text-align: justify;
}

.LegSnippet .NoNumText {

    text-align: justify;
}

.LegSnippet .D1Text {
    width: 96%;
	background: #fff;
}

.LegSnippet .D2Text {
    width: 94%;
	background: #fff;
}
.LegSnippet .D3Text {
    width: 92%;
	background: #fff;
}


.LegSnippet .D1Num {
    width: 3%;
	background: #ffb;
}

.LegSnippet .D2Num {
    width: 5%;
	background: #fbf;
}

.LegSnippet .D3Num {
    width: 7%;
	background: #bff;
}

.LegFootnote .LHS {
    float: left;
    text-align: right;
	width: 5%;
	background: #fbf;
}
.LegFootnote .RHS {
    float: right;
    text-align: justify;
	width: 93%;
	background: #fff;
}
