.timeline {
/*  height: 7%; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0; 
  margin: 0;
  font-size:80%;
  white-space: nowrap;
}

.timeline  ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  background-color: #33aa33;
  align-content: center;

}

.timeline  li{
  /*float: left;*/
  display: inline-block;
}


.timeline li a{
  display: block;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}


.timeline li a:hover {
  background-color: #111111;
}



.leg-height {
  height: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
  
 /* padding-top: 10px;  
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
 */
   margin-top: 0;
   padding-top: 0;
   padding-left: 5px;
   padding-right: 5px;
   text-align: justify;
}

.footnote-height {
  height: 20%;
  /*background: yellow;*/
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0; 
  margin: 0;
  border-top: 5px solid green;
  font-size:80%;
}

.vertical-center {
  position: absolute;
  top: 10%;
 
/* -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.LegSnippet {
   	font-size:90%;

 
}

.LegSnippet p{
	display: block;   
	clear: both;

}

.LegSnippet table{
	font-size:90%;
}

.LegSnippet .BlockList {
  padding-bottom: 10px;
}

.LegSnippet .LHS {
    float: left;
    text-align: right;
}
.LegSnippet .RHS {
    float: right;
    text-align: justify;
}

.LegSnippet .NoNumText {

    text-align: justify;
}

.LegSnippet .D1Text {
    width: 92%;
	background: #fff;
}

.LegSnippet .D2Text {
    width: 89%;
	background: #fff;
}
.LegSnippet .D3Text {
    width: 85%;
	background: #fff;
}

.LegSnippet .D4Text {
    width: 81%;
	background: #fff;
}

.LegSnippet .D1Num {
    width: 5%;
	background: #ffb;
}

.LegSnippet .D2Num {
    width: 8%;
	background: #fbf;
}

.LegSnippet .D3Num {
    width: 12%;
	background: #bff;
}

.LegSnippet .D4Num {
    width: 16%;
	background: #bfb;
}


.LegFootnote {
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;   
	clear: both;
	 height: 93%;
	margin-top: 0;
	padding-top: 0;
	padding-left: 5px;
	padding-right: 5px;
	
}


.LegFootnote h4 {
	margin-top: 2em;
	margin-top: 1em;
}


.LegFootnote p::after {
	content: "";
	clear: both;
	display: table;
}

.LegFootnote .LHS {
    float: left;
    text-align: right;
	width: 5%;
	background: #fbf;
}

.LegFootnote .RHS {
    float: right;
    text-align: justify;
	width: 93%;
	
}

.legheader {
/*  height: 4%; */
  padding: 0; 
  margin:0;
  text-align: center;
  background: #CCCCCC;
}