{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'timeline/css/style.css' %}">

<div style="width: 100%; border:1px solid black;">
		<div id="singlebutton" class="vertical-center">
  			<!--a href="/"><span class="glyphicon glyphicon-home"></span></a-->
			<a href="/">
				<img src="{% static 'timeline/images/home.png' %}"
					 width="30" height="30">
			</a>
		</div>
        <div id="main" style="width: 50%; height: 100%; float: left; ">
			<div class="timeline">
		  		<ul>
					{% for date in datelist1 %}
			  		<li id={{date}}-1><a href="/timeline/compare//{{uri1}}/{{date}}/1">{{ date }}</a></li>
					{% endfor %}
		  		</ul>
			</div>
			<div class="legheader"><b>/{{uri1}}</b></b></div>

			<div class="leg-height">
				{% include doc_html_url1 %}
			</div>
        </div>

 		<div id="second" style="height: 100%; margin-left: 50%;">
			<div class="timeline">
		  		<ul>
					{% for date in datelist2 %}
			  		<li id={{date}}-2><a href="/timeline/compare//{{uri2}}/{{date}}/2">{{ date }}</a></li>
					{% endfor %}
		  		</ul>
			</div>
			<div class="legheader"><b>/{{uri2}}</b></b></div>

			<div class="leg-height">
				{% include doc_html_url2 %}
			</div>
		</div>
 </div>
 <script>
 var date1 = '{{date1}}' + '-1';
 var date2 = '{{date2}}' + '-2';
 document.getElementById(date1).style.backgroundColor="#FF0000";
 document.getElementById(date2).style.backgroundColor="#FF0000";
 </script>
