{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'timeline/css/style.css' %}">


<div style="width: 100%; border:1px solid black;">

<!--div id="singlebutton" class="vertical-center" style="display: none;">
  <button onclick="singleView()">B<br/>a<br/>c<br/>k</button>
</div-->

        
		<div id="leftpanel" style="font-size:100%; width: 20%; height: 100%; background: rgba(0, 128, 0, 0.3); float: left;">
				<h1 style="text-align: center;">TIMELINE PORTAL</h1>
				<!--button onclick="splitView()">Compare View</button-->
				<br/>
				<ul>
				{% for key, value in doclist_dict.items %}
					<li><a href="/timeline/{{key}}/">{{value}}</a></li>
				{% endfor %}
				</ul>
			<form action="{% url 'compare' %}" method="post">
				{% csrf_token %}
				<fieldset>
    			<legend><h1>Compare</h1></legend>
    			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
				{% for key, value in doclist_dict.items %}
					{% if forloop.first %}
						<input type="radio" name="choice" id="{{key}}" value="{{key}}" checked>
						<label>{{value}}</label><br>
					{% else %}	
						<input type="radio" name="choice" id="{{key}}" value="{{key}}">
						<label>{{value}}</label><br>
					{% endif %}
    			{% endfor %}
				</fieldset>
			<input type="submit" value="Compare">
			</form>

		</div>

        <div id="main" style="width: 50%; height: 100%; float: left; ">

			<div class="timeline">
		  		<ul>
					{% for date in datelist %}
			  		<li  id={{date}}><a href="/timeline//{{uri}}/{{date}}">{{ date }}</a></li>
					{% endfor %}
		  		</ul>
			</div>
			<div class="legheader"><b>/{{uri}}</b></b></div>

			<div class="leg-height">
				{% include doc_html_url %}
			</div>

        </div>
		
		<div id="rightpanel" style="font-size:75%; width: 30%; height: 100%;background: rgba(200, 200, 200, 0.8);  float: left;">
			<h3 style="text-align:center">Notes</h3>
				{% include doc_htmlft_url %}
		</div>
		

		<div id="second" style="height: 100%; float: none; display: none; ">
			<span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span>
			<div class="timeline">
		  		<ul>
					{% for date in datelist %}
			  		<li><a href="/timeline//{{uri}}/{{date}}">{{ date }}</a></li>
					{% endfor %}
		  		</ul>
			</div>
			<div class="leg-height">
				{% include doc_html_url %}
			</div>
		</div>
 </div>
 
 <script>
 var date = '{{date}}';
 document.getElementById(date).style.backgroundColor="#FF0000";

function splitView() {
  document.getElementById("second").style.display = "";
  document.getElementById("second").style.marginLeft = "50%";
  document.getElementById("leftpanel").style.display = "none";
  document.getElementById("rightpanel").style.display = "none";
  document.getElementById("singlebutton").style.display = "";
}
function singleView() {
  document.getElementById("second").style.display = "none";
  document.getElementById("second").style.marginLeft = "0%"
  document.getElementById("leftpanel").style.display = "";
  document.getElementById("rightpanel").style.display = "";
  document.getElementById("singlebutton").style.display = "none";
}

function changeBg(event)  {
}
</script>
